.bike1-text {
  top: 13px;
  left: 571px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 90px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike1-group6 {
  top: 110px;
  left: -79px;
  width: 1519px;
  height: 803px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.bike1-revoltspecs1 {
  top: 340.53466796875px;
  left: 199.78892517089844px;
  width: 1184px;
  height: 462px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike1-headlight1152500429930x6201 {
  top: 0px;
  left: 618.4427490234375px;
  width: 346px;
  height: 341px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike1-frontleftview563217653930x6201 {
  top: 0px;
  left: 0px;
  width: 618px;
  height: 341px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike1-rightsideview718225944930x6201 {
  top: 0px;
  left: 964.81103515625px;
  width: 554px;
  height: 341px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike1-backbutton1 {
  top: 18px;
  left: 22px;
  width: 85px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike1-text1 {
  top: 898px;
  left: 414px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 95px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike2-text {
  top: 20px;
  left: 567px;
  color: rgba(0, 0, 0, 1);
  width: 306px;
  height: auto;
  position: absolute;
  font-size: 90px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike2-group10 {
  top: 112px;
  left: 0px;
  width: 1440px;
  height: 786px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.bike2-image48930x6201 {
  top: 0px;
  left: 0px;
  width: 485px;
  height: 337px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike2-speedometer131022709930x6201 {
  top: -2.2737367544323206e-13px;
  left: 835.2958984375px;
  width: 605px;
  height: 337px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike2-frontview350520575930x6201 {
  top: -2.2737367544323206e-13px;
  left: 485.1031494140625px;
  width: 398px;
  height: 476px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike2-screenshot202207272255441 {
  top: 336.9803466796875px;
  left: 0px;
  width: 1378px;
  height: 449px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike2-backbutton2 {
  top: 15px;
  left: 20px;
  width: 85px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike2-text1 {
  top: 898px;
  left: 414px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 95px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike3-backbutton1 {
  top: 13px;
  left: 21px;
  width: 85px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike3-text {
  top: 18px;
  left: 573px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 90px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike3-group7 {
  top: 109px;
  left: 0px;
  width: 1430px;
  height: 789px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.bike3-evoqis62de3073e08c21 {
  top: 0px;
  left: 0px;
  width: 482px;
  height: 348px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike3-odyssey-evoqis001620x4001 {
  top: 0px;
  left: 481.6319580078125px;
  width: 379px;
  height: 348px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike3-frontleftview1385056696930x6201 {
  top: 0px;
  left: 860.9791870117188px;
  width: 569px;
  height: 348px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike3-screenshot202207281637181 {
  top: 347.50494384765625px;
  left: 0px;
  width: 1430px;
  height: 441px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike3-text1 {
  top: 898px;
  left: 414px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 95px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike4-text {
  top: 22px;
  left: 572px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 90px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike4-backbutton1 {
  top: 22px;
  left: 31px;
  width: 85px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike4-group8 {
  top: 117px;
  left: -112px;
  width: 1620px;
  height: 779px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.bike4-screenshot202207281655221 {
  top: 339.25579833984375px;
  left: 112px;
  width: 1440px;
  height: 440px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike4-frontrightview1353946300930x6201 {
  top: 0px;
  left: 0px;
  width: 781px;
  height: 339px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike4-headlight27306245930x6201 {
  top: 0px;
  left: 617px;
  width: 430px;
  height: 339px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike4-speedometer899650043930x6201 {
  top: 0px;
  left: 1047px;
  width: 573px;
  height: 339px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike4-text1 {
  top: 898px;
  left: 414px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 95px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike5-backbutton2 {
  top: 15px;
  left: 20px;
  width: 85px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike5-text {
  top: 10px;
  left: 567px;
  color: rgba(0, 0, 0, 1);
  width: 306px;
  height: auto;
  position: absolute;
  font-size: 90px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bike5-group9 {
  top: 109px;
  left: -151px;
  width: 1663px;
  height: 787px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.bike5-t-e1gallery61920x10801 {
  top: 0px;
  left: 0px;
  width: 662px;
  height: 347px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike5-t-e1gallery41920x10801 {
  top: 0px;
  left: 1024px;
  width: 639px;
  height: 347px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike5-t-e1gallery11920x10801 {
  top: 0px;
  left: 599px;
  width: 543px;
  height: 347px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike5-screenshot202207281727311 {
  top: 346.62408447265625px;
  left: 151px;
  width: 1429px;
  height: 440px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.bike5-text4 {
  top: 898px;
  left: 414px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 95px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Karantina;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
a{
  color:inherit;
}
a:link {
text-decoration: none;
}
a:hover{
color:rgb(194, 3, 3);
text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}